body {
    /* background-color: darkgrey; */
    background-image: url(./img/background.jpg);
    background-size:     cover;                      
    background-repeat:   no-repeat;
    /* background-position: center center;  */
    /* height: 100%; */
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

button{
    display: flex;
}

img{
    background-color: transparent;
}


.body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 75%;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -15px 0px;
    padding: 0;
    display: flex;
}

.nav-bar {
    background-image: linear-gradient(to right,azure,darkgrey);
    display: flex;
    padding: 5px;
}

.nav-bar a {
    margin-left: 10px;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: rgba(214, 214, 214, 0.5);
    align-items: center;
    gap:15px;
}

#options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:20px;
}

.message {
    font-size: 45px;
    padding: 30px;
}

.score {
    width: 600px;
    height: 100px;
    font-size: 45px;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons {
    margin-top:50px;
    display: flex;
    gap: 15px;
}

.roundInfo {
    width: auto;
    height: 50px;
    font-size: 25px;
    background-color: transparent;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.restart-btn {
    font-size: 30px;
    background-image: linear-gradient(90deg, yellow, red);
    height: 200px;
    width: 200px;
    border-radius: 50%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-btn {
    color: white;
    background-color: transparent;
    font-size: 30px;
    height: 200px;
    width: 200px;
    border-radius: 15px;
}

#paper{
    display: flex;
    justify-content: center;

}

.footer {
    display: flex;
    justify-content: center;
}


