body {
    background-color: sandybrown;
    height: 100%;
    display: flex;
    justify-content: center;
}

.body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 75%;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -15px 0px;
    padding: 0;
    display: flex;
}

.nav-bar {
    background-color: aqua;
    display: flex;
    padding: 5px;
}

.nav-bar a {
    margin-left: 10px;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: red;
    justify-content: center;
    align-items: center;
}

.game-btn {
    height: 200px;
    width: 200px;
    border-radius: 15px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
